*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.container{
    display: flex;
    background-color: rgb(196, 245, 184);
    align-items: center;
}
.img img{
    width: 200px;
}

.nav_link{
    display: flex;
    justify-content: space-between;


   
}
.nav_link li a{
    margin: 0 20px;
    font-size: 40px;
    
}
.nav_link li a{
    transition: all 0.3s ease 0s;
}
.nav_link li a:hover{
    color: orange;
}
