*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.container{
    display: flex;
    background-color: rgb(196, 245, 184);
    align-items: center;
    justify-content: space-between;
    margin: 0 50px;
}
.img img{
    width: 200px;
}

.nav_link li{
    display: inline-block;
    padding: 0px 20px;
    font-size: 20px;
    color: rgb(64, 8, 250);

   
}
.nav_link li {
    margin: 0 10px;
    
}
.nav_link li a {
    transition: all 0.3s ease 0s;
}
.nav_link li a:hover{
    color: rgb(255, 255, 255);
    background-color: orangered;
    border-radius: 10px;
    padding: 10px;
}
.button{
    font-size: 25px;
    color: white;
    text-decoration: none;
    background-color: rgb(79, 28, 246);
    padding: 10px;
    border-radius: 15px;
    
}
